{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head>
  <!-- Add this if using CDN -->
 <link rel="stylesheet" href="{% static 'css/output.css ' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
</head>
<body>
    
    <header class="bg-white shadow-sm">
        <div class="flex items-center justify-between px-6 py-3 h-24">
          <div class="flex items-center">
            <button class="text-gray-500 focus:outline-none lg:hidden">
              <i class="fas fa-bars"></i>
            </button>
            <h2 class="text-xl font-semibold text-gray-800 ml-4">LOGIN</h2>
          </div>
          <div class="flex items-center">
            
            <div class="ml-4 relative">
              <button class="flex items-center focus:outline-none">
                <img class="h-8 w-8 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg" alt="User">
                <span class="ml-2 text-gray-700">Admin</span>
              </button>
            </div>
          </div>
        </div>
      </header>


<div class="flex h-screen w-full items-center justify-center">
  <form method="POST" class="w-[33em] rounded-md shadow-lg">
    <div class="rounded-t-md bg-blue-700 p-5 text-white">
      <h2 class="text-[1.6em]">Sign In</h2>
      <p class="text-[13px]">Enter your credentials to access your account</p>
    </div>
    <div class="px-5 py-7">
      <label for="username">Username</label>
      <input type="username" name="username" class="h-[2.3em] w-full rounded-sm border-1 border-gray-300" />
      <div class="mt-5">
        <label for="password">Password</label>
        <input type="password" name="password" class="h-[2.3em] w-full rounded-sm border-1 border-gray-300" />
        <div class="mt-2 flex justify-end text-[12px]">
          <a href="#" class="text-blue-500 underline hover:text-blue-700">Forgot password?</a>
        </div>
      </div>
      <div class="mb-7 flex items-center gap-2">
        <input type="checkbox" class="cursor-pointer" />
        <p>Remember me</p>
      </div>
      <button class="w-full cursor-pointer rounded-sm bg-blue-700 py-2 text-white hover:opacity-80">Sign In</button>
      <div class="mt-11 flex justify-center text-[14px]">
        <p>Don't have an account? <span class="text-blue-500 underline">Sign up</span></p>
      </div>
    </div>
  </form>
</div>

</body>
</html>
