{% extends "layout/base.html" %}

{% block 'title' %} Search Users {% endblock 'title' %}

{% block 'content' %}
{% include "includes/sidebar.html" %}

<div class="relative w-full px-6 flex justify-center mt-10">
    <div class="w-[85em] max-w-[90em] min-w-0">
        <!-- Search Bar Added Here -->
        <form class="max-w-full mx-auto bg-white rounded-lg shadow-md border border-gray-200 mb-6"  method = POST action = "{% url "search-users" %}">
            {% csrf_token %}
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500" placeholder="Search full names..." name='searched'>
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>
            </div>
        </form>

        <div class="overflow-x-auto">
            <table class="w-full min-w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th class="px-6 py-3">Full Name</th>
                        <th class="px-6 py-3">Gender</th>
                        <th class="px-6 py-3">Birth Date</th>
                        <th class="px-6 py-3">Address</th>
                        <th class="px-6 py-3">Contact Number</th>
                        <th class="px-6 py-3">Email</th>
                        <th class="px-6 py-3">Username</th>
                    </tr>
                </thead>
                <tbody>
                    {% if searched %}
                        {% if users %}
                            {% for user in users %}
                            <tr class="bg-white border-b">
                                <td class="px-6 py-4">{{ user.full_name }}</td>
                                <td class="px-6 py-4">{{ user.gender.gender }}</td>
                                <td class="px-6 py-4">{{ user.birth_date }}</td>
                                <td class="px-6 py-4">{{ user.address }}</td>
                                <td class="px-6 py-4">{{ user.contact_number }}</td>
                                <td class="px-6 py-4">{{ user.email }}</td>
                                <td class="px-6 py-4">{{ user.username }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="px-6 py-4 text-center text-red-500">
                                    {{ searched }} not found
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="7" class="px-6 py-4 text-center">
                                You Forgot To Search!!!
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock 'content' %}